<div class="lg:px-14 sm:px-8 px-5 min-h-[calc(100vh-64px)] pt-2">
    <div class="bg-white w-full sm:py-10 py-8  ">
      <h1 class="sm:text-4xl text-slate-800 text-3xl font-bold italic  mb-3">
        About Linklytics
      </h1>
      <p class="text-gray-700 text-sm  mb-8 xl:w-[60%] lg:w-[70%] sm:w-[80%] w-full ">
        Linklytics simplifies URL shortening for efficient sharing. Easily
        generate, manage, and track your shortened links. Linklytics simplifies
        URL shortening for efficient sharing. Easily generate, manage, and
        track your shortened links. Linklytics simplifies URL shortening for
        efficient sharing. Easily generate, manage, and track your shortened
        links. Linklytics simplifies URL shortening for efficient sharing.
        Easily generate, manage, and track your shortened links.
      </p>
      <div class="space-y-5 xl:w-[60%] lg:w-[70%] sm:w-[80%] w-full ">
        <div class="flex items-start">
            <svg class="w-[35px] h-[35px] text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.213 9.787a3.391 3.391 0 0 0-4.795 0l-3.425 3.426a3.39 3.39 0 0 0 4.795 4.794l.321-.304m-.321-4.49a3.39 3.39 0 0 0 4.795 0l3.424-3.426a3.39 3.39 0 0 0-4.794-4.795l-1.028.961"/>
              </svg>
              
          <div>
            <h2 class="sm:text-2xl font-bold text-slate-800">
              Simple URL Shortening
            </h2>
            <p class="text-gray-600">
              Experience the ease of creating short, memorable URLs in just a
              few clicks. Our intuitive interface and quick setup process
              ensure you can start shortening URLs without any hassle.
            </p>
          </div>
        </div>
        <div class="flex items-start">
            <svg class="w-[35px] h-[35px] text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M7.926 10.898 15 7.727m-7.074 5.39L15 16.29M8 12a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0Zm12 5.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0Zm0-11a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0Z"/>
              </svg>
              
          <div>
            <h2 class="sm:text-2xl font-bold text-slate-800">
              Powerful Analytics
            </h2>
            <p class="text-gray-600">
              Gain insights into your link performance with our comprehensive
              analytics dashboard. Track clicks, geographical data, and
              referral sources to optimize your marketing strategies.
            </p>
          </div>
        </div>
        <div class="flex items-start">
            <svg class="w-[35px] h-[35px] text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565 6.844-6.844a2.015 2.015 0 0 1 2.852 0Z"/>
              </svg>
              
          <div>
            <h2 class="sm:text-2xl font-bold text-slate-800">
              Enhanced Security
            </h2>
            <p class="text-gray-600">
              Rest assured with our robust security measures. All shortened
              URLs are protected with advanced encryption, ensuring your data
              remains safe and secure.
            </p>
          </div>
        </div>
        <div class="flex items-start">
            <svg class="w-[35px] h-[35px] text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4.5V19a1 1 0 0 0 1 1h15M7 14l4-4 4 4 5-5m0 0h-3.207M20 9v3.207"/>
              </svg>
              
              
          <div>
            <h2 class="sm:text-2xl font-bold text-slate-800">
              Fast and Reliable
            </h2>
            <p class="text-gray-600">
              Enjoy lightning-fast redirects and high uptime with our reliable
              infrastructure. Your shortened URLs will always be available and
              responsive, ensuring a seamless experience for your users.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>